body {
    background-color: #1a1a1a;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
    background-image: url('../images/dumbbells-supplements.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(50%);
}

header {
    background-color: #4b0082;
    padding: 5px;
    text-align: center;
    border-bottom: 2px solid purple;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #e0e0e0;
    text-decoration: none;
}

nav ul li a:hover {
    color: #d1a6d1;
}

h1, h2 {
    color: #e0e0e0;
}

a {
    color: #e0e0e0;
    text-decoration: none;
}

a:hover {
    color: #d1a6d1;
}

button {
    background-color: #4b0082;
    color: #e0e0e0;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #d1a6d1;
}